<!DOCTYPE html>

<html lang="fr">
    <head>
        <title></title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Stylesheets -->
        {% block stylesheets %}
            <link href="public/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="container-fluid">
        {% block popup %}
        {% endblock %}

        {% block header %}
            {% block banner %}
            {% endblock %}
        {% endblock %}

        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        {% block footer %}
        {% endblock %}

        <!-- Scripts -->
        {% block javascript %}
            <script src="public/js/jquery.min.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>