{% extends "base.html.twig" %}

{% block popup %}
    <div class="fader w-100 h-100"></div>
    <div class="popup col-sm-10 col-md-9 col-lg-8 col-xl-7 ml-auto mr-auto">
        <div class="close-div">
            <a href="#" class="close"><img src="public/images/shapex.svg" alt=""></a>
        </div>
        <figure></figure>
        <hr />
        <div class="comments-form">
            <form>
                <label for="new_comment"><strong></strong></label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"><img src="public/images/shape.svg" alt=""></div>
                    <input type="text" id="new_comment" class="form-control" name="new_comment" placeholder="Laissez votre commentaire ici...">
                </div>
                <div class="input-group mb-2 mb-sm-0">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
        <div class="comments-show">
            <button type="button" class="btn btn-secondary">Load more</button>
        </div>
    </div>
{% endblock %}

{% block header %}
    <header class="row">
        <nav class="navbar navbar-expand-lg w-100">
            <a class="navbar-brand" href="#"><img src="public/images/logo.svg" alt=""></a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="#navbarResponsive" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">pop culture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">photography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about us</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="public/images/ic-facebook-connect.svg" alt="">
                            <span class="align-icon">connect with Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block banner %}
            <figure>
                <img src="public/images/header.jpg" srcset="public/images/header@2x.jpg, public/images/header.jpg" alt="">
                <h1 class="text-white">{{ data.banner.title }}</h1>
            </figure>
        {% endblock %}
    </header>
{% endblock %}

{% block footer %}
    <footer class="row">
        <nav class="navbar bg-transparent">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms of Service and Privacy</a>
                </li>
            </ul>
        </nav>
    </footer>
{% endblock %}